body {
  background-color: aqua;
}

.para {
  font-size: 20px;
}

.para:hover {
  background-color: white;
}

#random-para {
  color: yellow;
}

#random-para:hover {
  color: red;
}

/* unvisited link */
a:link {
  color: green;
}
/* visited link */
a:visited {
  color: red;
}
/* mouse over link */
a:hover {
  color: hotpink;
}
/* selected link */
a:active {
  color: blue;
}
